<div class="hud top">
    <div class="item">
        <div class="hp">
            <span id="hp">100</span>
            <i class="fa fa-heart faa-pulse animated" aria-hidden="true"></i>
        </div>
        <div class="gp">
            <span id="gp">0</span>
            <i class="fa fa-diamond" aria-hidden="true"></i>
        </div>
    </div>
    <div class="item center">
        <div class="status">
            Select A Troll To Battle!
        </div>
    </div>
    <div class="item right trollInfo">
        <div class="info">
            <img><br>
            <span id="trollName"></span>
        </div>
    </div>
</div>
