<div class="globe">
    <div id="trollInfo">
        <h1 id="trollName">Mr. Troll Troll</h1>
        <h2 id="trollLocation">Someplace, FL, USA</h2>
        <img src="images/troll_intro.png" id="trollImg">
        <h3>Difficulty: <span id="trollDifficulty">Easy</span></h3>
        <h3>Skip Cost:  <span id="trollSkipCost">4</span></h3>
        <button id="battle">BATTLE!</button><br>
        <button id="tryLater">TRY LATER</button>
    </div>
    <div class="contents">
        <div class="map">
            <img src="images/world_map_flat.jpg">
        </div>
    </div>
</div>
