#mainMenu .globe {
    width: 600px;
    height: 600px;
    overflow: hidden;
    border-radius: 300px;
    border: 3px solid rgba(216, 216, 216, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
}

#mainMenu .globe:hover {
    cursor: hand;
}

#mainMenu .globe .contents {
    float: left;
}

#mainMenu .globe .contents img {
    height: 100%;
}
